<?xml version="1.0"?>
<launch>
	<!-- In meter -->
	<arg name="marker_size" default="0.07"/>
	<arg name="camera" default="front_camera"/>
	<!-- Frame in which the marker pose will be refered -->
	<arg name="reference_frame" default=""/>
	<arg name="camera_frame" default="camera_color_optical_frame"/>
	<arg name="image_is_rectified" default="True"/>

	<group ns="$(arg camera)">
		<node name="aruco" pkg="aruco_ros" type="marker_publisher">
			<remap from="/camera_info" to="/$(arg camera)/color/camera_info"/>
			<remap from="/image" to="/$(arg camera)/color/image_raw"/>

			<param name="image_is_rectified" value="$(arg image_is_rectified)"/>
			<param name="marker_size" value="$(arg marker_size)"/>
			<param name="reference_frame" value="$(arg reference_frame)"/>
			<param name="camera_frame" value="$(arg camera_frame)"/>
		</node>
	</group>
</launch>